/*--------------------------------------------
---------------VARS AND ABSOLUTE--------------
----------------------------------------------*/
* {
  margin: 0px;
}
:root {
  /*colors*/
  --black: #000000;
  --gray_dark: #0e0e0e0e;
  --just_white: #ffffff;
  --gray: #777777;
  --blue_sky: #0278ae;
  --green_slime: #28a745;
}

/*--------------------------------------------
---------------DIV BAR MENU-------------------
 ---------------------------------------------*/
.list {
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(29 35 43);
  height: 70px;
  width: 100%;
  position: fixed;
}

/*----------left-----------*/
.list_ubication {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4%;
}
.index {
  grid-column-start: 2;
}
.index i {
  margin-left: 5px;
  margin-top: 5px;
}
.index summary {
  padding: 10px;
  color: var(--just_white);
  list-style: none;
  font-size: 110%;
  font-weight: bold;
}
.index summary:hover {
  color: #46a2fd;
  transition: color 400ms;
}
.index ul {
  background-color: var(--just_white);
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 200px;
  margin: 0px 0px 0px 5px;
  border-radius: 10px;
  opacity: 80%;
}
.index:hover ul,
ul:hover {
  display: block;
}
.index li {
  background-color: var(--just_white);
  margin: 15px 10px 5px 10px;
}
.index li a {
  background-color: var(--just_white);
  color: var(--black);
  text-decoration: none;
}
.index li a:hover {
  text-decoration: underline;
}
.picture-list {
  margin: 0px;
}
/*---------right----------*/
.options {
  width: 15%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-right: 4%;
}

#ctn-icon-search {
  height: 100%;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue_sky);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 10;
  right: 0;
}

#icon-search {
  height: 20px;
  width: 100%;
  padding-left: 4px;
  font-size: 18px;
  color: var(--just_white);
  cursor: pointer;
  transition: all 200ms;
}

#icon-search:hover {
  color: var(--gray);
}

.ctn-bars-search {
  display: flex;
  position: relative;
  width: 70%;
}
#inputSearch {
  height: 20px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  outline: 0;
  border-radius: 5px;
  border: solid white 1px;
  transition: all 600ms;
}

#box-search {
  position: fixed;
  top: 80px;
  left: 75%;
  transform: translateX(-50%);
  width: 30%;
  background: var(--just_white);
  z-index: 8;
  overflow: hidden;
  display: none;
  list-style: none;
}

#box-search li a {
  display: block;
  width: 100%;
  color: var(--gray);
  padding: 12px 20px;
}

#box-search li a:hover {
  background: #fefefe;
}

#box-search li a i {
  margin-right: 10px;
  color: var(--gray);
}

#cover-ctn-search {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
  display: none;
}

/*----show menu styles--*/
#icon-menu {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 20px;
  color: var(--just_white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#menu_icon:hover {
  color: var(--gray);
}

/*-------------------------------------------
---------------------HEADER------------------
---------------------------------------------*/

.main-body {
  font-family: "Mulish", sans-serif;
}

header {
  background: rgb(21 25 31);
  height: 600px;
  width: 100vw;
  display: grid;
  grid-template-columns: 60% 40%;
}

a {
  text-decoration: none;
  color: var(--just_white);
}
.title {
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.title-header h1 {
  font-family: "Nanum Gothic", sans-serif;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
.title-header {
  color: var(--just_white);
  font-size: 200%;
  grid-column-start: 1;
}
.title-header p {
  font-family: "Mulish", sans-serif;
  font-size: 75%;
}
.button-sing-in {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.button-sing-in i {
  margin-top: 15px;
  font-size: 55%;
  text-decoration: underline;
}
.registrer {
  font-family: "Mulish", sans-serif;
  height: 60px;
  width: 200px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green_slime);
  color: var(--just_white);
  font-size: 70%;
}
#sing-in-icon {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
.registrer:hover {
  background-color: #28a770;
}
.picture__octocat {
  padding-top: 80px;
  max-width: 100%;
  width: 450px;
  height: 430px;
  grid-column-start: 2;
}

/*--------------------------------*/
.reference a {
  text-decoration: none;
  color: white;
  font-size: 110%;
  padding: 10px;
}
.reference a:hover {
  color: #46a2fd;
  transition: color 400ms;
}
/*---------------------------------*/

/*-----------------------------------------------
---------------section what is git---------------*/
/*----recomendations git and github blocks-------*/
.block-recomendation {
  margin-top: 100px;
  color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.recomendation {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  color: #0e0e0e;
  font-size: 90%;
}
.recomendation h3 {
  margin-top: 10px;
  margin-left: 20px;
  color: grey;
}
.recomendation-git-github {
  padding: 40px;
  padding-bottom: 40px;
  background: #0e0e0e;
  grid-column-start: 2;
  margin-top: 100px;
  border-radius: 10px;
}
.block-recomendation h1 {
  display: flex;
  justify-content: center;
}
.block-recomendation p {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button__git-github {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-git {
  height: 40px;
  width: 250px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(62, 133, 238, 1) 1.1%,
    rgba(227, 137, 240, 1) 40.7%,
    rgba(243, 193, 124, 1) 79.7%
  );
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
}
.button-git i {
  margin-left: 10px;
}
.button-github {
  height: 40px;
  width: 250px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(62, 133, 238, 1) 1.1%,
    rgba(227, 137, 240, 1) 40.7%,
    rgba(243, 193, 124, 1) 79.7%
  );
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
}
.button-github i {
  margin-left: 10px;
}

/*what is git*/
.what-is-git {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 10% 38% 4% 38% 10%;
}
.what_is_git {
  grid-column-start: 2;
  border: solid #0e0e0e0e 2px;
  border-radius: 10px;
  padding: 30px 30px;
}
.what_is_git2 {
  grid-column-start: 4;
  border: solid #0e0e0e0e 2px;
  border-radius: 10px;
  padding: 30px 30px;
}
.what_is_git p,
.what_is_git2 p {
  margin-top: 10px;
  font-size: 110%;
  text-align: inherit;
}

/*--------------list to install git--------------*/
.list__install-git {
  margin-top: 100px;
  height: 90px;
  width: 100vw;
  display: grid;
  grid-template-columns: 70% 30%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 200px;
}
.block-list_ {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.block-list h2 {
  margin-left: 50px;
}

/*---list install git---*/
.install-git summary {
  margin: 10px 10px 0px 10px;
  padding: 5px;
  color: #0278ae;
  list-style: none;
  border-radius: 10px;
  font-size: 16px;
  height: 50px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #0278ae 1px;
  text-align: center;
}
.install-git ul {
  background-color: white;
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 60%;
  margin: 5px 0px 0px 5px;
  border-radius: 10px;
  opacity: 90%;
}
.install-git:hover ul,
ul:hover {
  display: block;
}
.install-git p {
  margin: 8px 10px 8px 10px;
}

.install-git li {
  background-color: white;
  margin: 15px 10px 5px 10px;
  color: #000000;
}
.install-git a {
  color: #000000;
  text-decoration: underline;
}
.cat_list {
  width: 270px;
  height: 270px;
  display: grid;
  grid-column-start: 2;
}
/*-----------------------------------------------
------------SECTION WHAT IS GITHUB----------------
-------------------------------------------------*/
.section-github {
  margin-top: 100px;
  height: 400px;
  width: 100vw;
  background: rgb(21 25 31);
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 10% 80% 10%;
}
.picture__space {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  grid-column-start: 2;
  grid-row-start: 0;
}
.picture-space {
  width: 130%;
  height: 130%;
}
.what_is-github {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-row-start: 2;
}
.text-what-is_github {
  margin: 10px;
}
.text-what-is_github summary {
  background: #0278ae;
  color: white;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-diriection: column;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.text-what-is_github summary:hover {
  color: gray;
}
.text-what-is_github a {
  margin-top: 5px;
  font-size: 15px;
  text-decoration: underline;
}
.text-what-is_github ul {
  background-color: white;
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 60%;
  margin: 5px 0px 0px 5px;
  border-radius: 10px;
  opacity: 90%;
}
.text-what-is_github:hover ul,
ul:hover {
  display: block;
}
.text-what-is_github p {
  margin: 8px 10px 8px 10px;
}

/*-----------------------------------------
------------SECTION HOW USE GIT--------------
--------------------------------------------*/
.repository {
  height: 500px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 80%;
  margin-top: 50px;
  margin-bottom: 200px;
}
.repository-title {
  display: flex;
  justify-content: center;
  grid-row-start: 1;
  grid-column-start: 2;
}
.block-repo {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 48% 4% 48%;
  grid-column-start: 2;
  grid-row-start: 2;
}
.picture__team {
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.picture-team {
  height: 100%;
  width: 100%;
}
.repo {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  border: solid #0e0e0e0e 2px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  height: 300px;
}
.repo p {
  color: #0e0e0e;
  padding-top: 10px;
}
.git-configure {
  margin-top: 20px;
}
.git-configure summary {
  padding: 5px;
  color: #0278ae;
  font-size: 16px;
  border: solid #0278ae 2px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.git-configure ul {
  background-color: white;
  display: none;
  position: absolute;
  width: 300px;
  border-radius: 10px;
  opacity: 90%;
  border: solid #0e0e0e0e 2px;
  padding: 0px;
}
.git-configure:hover ul,
ul:hover {
  display: block;
}
.git-configure p {
  background-color: white;
  padding: 10px;
}
/*---------------------start git---------------------------*/
.blocks-commands-info {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 10% 38% 4% 38% 10%;
}
.information {
  grid-column-start: 2;
  border: so121lid #0e0e0e0e 2px;
  border-radius: 10px;
  padding: 15px;
}

.information h3 {
  margin: 10px 10px;
}
.start-git git_command {
  display: flex;
  justify-content: center;
}
.git_command {
  background: #0e0e0e;
  color: white;
  width: 60%;
  height: 25px;
  display: flex;
  align-items: center;
  text-align: inherit;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 5px;
}
.files-status {
  grid-column-start: 4;
  background: #28a745;
  color: white;
  text-align: inherit;
  padding: 15px;
  border-radius: 10px;
}
.files-status li {
  padding: 10px;
}
.picture-cycle_work {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin-top: 20px;
}
.picture-work-cycle-one {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.work-cycle-one {
  height: 80%;
  width: 70%;
}
.picture-branch {
  height: 350px;
  width: 200px;
  padding-left: 80px;
}
.branches_picture {
  height: 350px;
  width: 200px;
}
