/*--------------------------------------------
---------------VARS and absolute--------------
----------------------------------------------*/
* {
  margin: 0px;
}
:root {
  /*colors*/
  --black: #000000;
  --gray_dark: #0e0e0e0e;
  --recomendation_gray: #0e0e0e;
  --purple-background: #03001c;
  --just_white: #ffffff;
  --gray: #777777;
  --gray_soft: #fefe;
  --blue_sky: #0278ae;
  --swet_blue: #46a2fd;
  --green_slime: #28a745;
  --hover_green: #28a770;
}

/*--------------------------------------------
---------------FIRST-BLOCK-------------------
 ---------------------------------------------*/
.first-block {
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple-background);
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 8;
}

/*----------left-----------*/
.list_ubication {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4%;
}
.index i {
  margin-left: 5px;
  margin-top: 5px;
}
.reference a {
  text-decoration: none;
  color: var(--just_white);
  font-size: 110%;
  padding: 10px;
}
.reference a:hover {
  color: var(--swet_blue);
  transition: color 200ms;
}
/*---------------------------------*/
.index summary {
  padding: 10px;
  color: var(--just_white);
  list-style: none;
  font-size: 110%;
  font-weight: bold;
}
.index summary:hover {
  color: var(--swet_blue);
  transition: color 200ms;
}
.index ul {
  background-color: var(--just_white);
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 300px;
  margin: 0px 0px 0px 5px;
  border-radius: 10px;
}
.index:hover ul,
ul:hover {
  display: block;
}
.index li {
  background-color: var(--just_white);
  margin: 20px 15px 5px 15px;
}
.index li a {
  background-color: var(--just_white);
  color: var(--black);
  text-decoration: none;
}
.index li a:hover {
  text-decoration: underline;
}
.picture-list {
  margin: 0px;
}
/*---------right----------*/
.options {
  width: 15%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-right: 4%;
}

#ctn-icon-search {
  height: 100%;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue_sky);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: 11;
  right: 0;
}

#icon-search {
  height: 20px;
  width: 100%;
  padding-left: 4px;
  font-size: 18px;
  color: var(--just_white);
  cursor: pointer;
  transition: all 200ms;
}

#icon-search:hover {
  color: var(--gray);
}

.ctn-bars-search {
  display: flex;
  position: relative;
  width: 70%;
}
#inputSearch {
  height: 20px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  outline: 0;
  border-radius: 5px;
  border: solid var(--just_white) 1px;
  transition: all 600ms;
  z-index: 10;
}

#box-search {
  position: fixed;
  top: 80px;
  left: 80%;
  transform: translateX(-50%);
  width: 30%;
  background: var(--just_white);
  z-index: 8;
  overflow: hidden;
  display: none;
  list-style: none;
}

#box-search li a {
  display: block;
  width: 100%;
  color: var(--gray);
  padding: 12px 20px;
}

#box-search li a:hover {
  background: var(--gray_soft);
}

#box-search li a i {
  margin-right: 10px;
  color: var(--gray);
}

#cover-ctn-search {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

/*----show menu styles--*/
#icon-menu {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 20px;
  color: var(--just_white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#menu_icon:hover {
  color: var(--gray);
}

.menu nav ul {
  list-style: none;
}

.menu nav ul li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.menu nav ul li a {
  color: var(--gray);
  font-size: 18px;
}
.menu {
  z-index: 4;
  top: 70px;
  right: 0px;
  display: none;
  height: 630px;
  width: 40%;
  position: fixed;
  background: var(--just_white);
  opacity: 95%;
}

/*-------------------------------------------
---------------------HEADER------------------
---------------------------------------------*/

.main-body {
  font-family: "Mulish", sans-serif;
}

header {
  background-color: #0a0825;
  height: 600px;
  width: 100vw;
  display: grid;
  grid-template-columns: 60% 40%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: var(--just_white);
}
.title {
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 7%;
  z-index: 3;
}
.title-header h1 {
  font-family: "Nanum Gothic", sans-serif;
  color: var(--just_white);
  font-weight: bold;
}
.title-header {
  color: var(--gray_soft);
  font-size: 200%;
  grid-column-start: 1;
}
.title-header p {
  font-family: "Mulish", sans-serif;
  font-size: 75%;
}
.resalt {
  color: var(--just_white);
}
.button-sing-in {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  outline: 0;
}
.button-sing-in i {
  margin-top: 15px;
  font-size: 55%;
  text-decoration: underline;
}
.registrer {
  font-family: "Mulish", sans-serif;
  height: 60px;
  width: 200px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green_slime);
  color: var(--just_white);
  font-size: 70%;
}
#sing-in-icon {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
.registrer:hover {
  background-color: var(--hover_green);
}
.ligths-background-header {
  width: 100vw;
  height: 600px;
  z-index: 2;
  position: relative;
}
.ligths_background_header {
  height: 550px;
  width: 65vw;
}
.picture__octocat {
  position: absolute;
  /* margin-top: 248px;*/
  max-width: 100%;
  width: 450px;
  height: 430px;
  grid-column-start: 2;
  right: 0px;
  top: 248px;
  z-index: 3;
}

/*-----------------------------------------------
---------------section what is git---------------*/
/*----recomendations git and github blocks-------*/
.block-recomendation {
  margin-top: 100px;
  color: var(--just_white);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.recomendation {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  color: var(--recomendation_gray);
  font-size: 90%;
}
.recomendation h3 {
  margin-top: 10px;
  margin-left: 20px;
  color: var(--gray);
}
.recomendation-git-github {
  padding: 40px;
  padding-bottom: 40px;
  background: var(--black);
  grid-column-start: 2;
  margin-top: 100px;
  border-radius: 10px;
}
.recomendation-git-github h2 {
  color: var(--just_white);
  text-align: center;
}
.recomendation-git-github p {
  color: var(--gray_soft);
}
.block-recomendation h1 {
  display: flex;
  justify-content: center;
}
.block-recomendation p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--gray_soft);
}
.button__git-github {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-git {
  height: 40px;
  width: 250px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(62, 133, 238, 1) 1.1%,
    rgba(227, 137, 240, 1) 40.7%,
    rgba(243, 193, 124, 1) 79.7%
  );
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
}
.button-git i {
  margin-left: 10px;
}
.button-github {
  height: 40px;
  width: 250px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(62, 133, 238, 1) 1.1%,
    rgba(227, 137, 240, 1) 40.7%,
    rgba(243, 193, 124, 1) 79.7%
  );
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
}
.button-github i {
  margin-left: 10px;
}

/*what is git*/
.what-is-git {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 10% 38% 4% 38% 10%;
}
.what_is_git {
  grid-column-start: 2;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 8px 8px 8px 8px rgba(89, 73, 30, 0.15);
}
.what_is_git2 {
  grid-column-start: 4;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 8px 8px 8px 8px rgba(89, 73, 30, 0.15);
}
.what_is_git p,
.what_is_git2 p {
  margin-top: 10px;
  font-size: 110%;
  text-align: inherit;
}

/*--------------list to install git--------------*/
.list__install-git {
  margin-top: 100px;
  height: 90px;
  width: 100vw;
  display: grid;
  grid-template-columns: 70% 30%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 200px;
}
.block-list_ {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.block-list h2 {
  margin-left: 50px;
}

/*---list install git---*/
.install-git summary {
  margin: 10px 10px 0px 10px;
  padding: 5px;
  color: var(--blue_sky);
  list-style: none;
  border-radius: 10px;
  font-size: 16px;
  height: 50px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--blue_sky) 1px;
  text-align: center;
}
.install-git ul {
  background-color: var(--just_white);
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 60%;
  margin: 5px 0px 0px 5px;
  border-radius: 10px;
  opacity: 90%;
}
.install-git:hover ul,
ul:hover {
  display: block;
}
.install-git p {
  margin: 8px 10px 8px 10px;
}

.install-git li {
  background-color: var(--just_white);
  margin: 15px 10px 5px 10px;
  color: var(--black);
}
.install-git a {
  color: var(--black);
  text-decoration: underline;
}
.cat_list {
  width: 270px;
  height: 270px;
  display: grid;
  grid-column-start: 2;
}
/*-----------------------------------------------
------------SECTION WHAT IS GITHUB----------------
-------------------------------------------------*/
.section-github {
  margin-top: 0px;
  height: 500px;
  width: 100vw;
  /* background: var(--purple-background);*/
  display: flex;
  justify-content: center;
  /*overflow: scroll;*/
  /* position: relative;*/
}
.what_is-github {
  height: 250px;
  white-space: nowrap;
  margin: 70px 0px 0px 0px;
  padding-bottom: 10px;
}
.carousel-item {
  z-index: 0;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: 400ms all;
  transform-origin: center left;
  position: relative;
  margin: 10px;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(80px, 0, 0);
}
.what_is-github:hover .carousel-item {
  opacity: 0.3;
}
.what_is-github:hover .carousel-item:hover {
  transform: scale(1.3);
  opacity: 1;
}
.carousel-item_img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.text-what-is_github {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 1;
  transition: 400ms opacity;
  position: absolute;
  top: 215px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.text-what-is_github summary {
  background: var(--gray_soft);
  color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  padding: 10px 5px 35px 0px;
  width: 100%;
}
.text-what-is_github summary:hover {
  color: gray;
}
.text-what-is_github a {
  margin-top: 5px;
  font-size: 12px;
  color: var(--black);
}
.text-what-is_github ul {
  background-color: var(--just_white);
  display: none;
  list-style: none;
  padding: 0px;
  width: 60%;
  margin: 5px 0px 0px 5px;
  border-radius: 10px;
  opacity: 90%;
}
.text-what-is_github:hover ul,
ul:hover {
  display: block;
}
.text-what-is_github p {
  margin: 8px 10px 8px 10px;
}

/*-----------------------------------------
------------SECTION HOW USE GIT--------------
--------------------------------------------*/
.repository {
  height: 500px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 80%;
  margin-top: 0px;
  margin-bottom: 200px;
}
.repository-title {
  display: flex;
  justify-content: center;
  grid-row-start: 1;
  grid-column-start: 2;
}
.block-repo {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 48% 4% 48%;
  grid-column-start: 2;
  grid-row-start: 2;
}
.picture__team {
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.picture-team {
  height: 100%;
  width: 100%;
}
.repo {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  /*border: solid var(--gray_dark) 2px;*/
  box-shadow: 8px 8px 8px 8px rgba(89, 73, 30, 0.15);
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  height: 300px;
}
.repo p {
  color: var(--recomendation_gray);
  padding-top: 10px;
}
.git-configure {
  margin-top: 20px;
}
.git-configure summary {
  padding: 5px;
  color: var(--blue_sky);
  font-size: 16px;
  border: solid var(--blue_sky) 2px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.git-configure ul {
  background-color: var(--just_white);
  display: none;
  position: absolute;
  width: 300px;
  border-radius: 10px;
  opacity: 90%;
  border: solid var(--gray_dark) 2px;
  padding: 0px;
}
.git-configure:hover ul,
ul:hover {
  display: block;
}
.git-configure p {
  background-color: var(--just_white);
  padding: 10px;
}
/*---------------------start git---------------------------*/
.blocks-commands-info {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 10% 38% 4% 38% 10%;
}
.information {
  grid-column-start: 2;
  border: solid var(--gray_dark) 2px;
  border-radius: 10px;
  padding: 15px;
}

.information h3 {
  margin: 10px 10px;
}
.start-git git_command {
  display: flex;
  justify-content: center;
}
.git_command {
  background: var(--recomendation_gray);
  color: var(--just_white);
  width: 86%;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: inherit;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 10px 5px 0px;
}
.files-status {
  grid-column-start: 4;
  background: var(--green_slime);
  color: var(--just_white);
  text-align: inherit;
  padding: 15px;
  border-radius: 10px;
}
.files-status li {
  padding: 10px;
}
.picture-cycle_work {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin-top: 20px;
}
.picture-work-cycle-one {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.work-cycle-one {
  height: 80%;
  width: 70%;
}
.picture-branch {
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.branches_picture {
  height: 380px;
  width: 60%;
}
